// Import bootstrap sass variables
@import "~bootstrap/scss/_variables";

.home {
    &-container {
        text-align: center;
        padding: 50px;

        position: relative;
        color: #cdbfe3;
        background-image: -webkit-linear-gradient(315deg, #271b38, #563d7c, #7952b3);
        background-image: -o-linear-gradient(315deg, #271b38, #563d7c, #7952b3);
        background-image: linear-gradient(135deg, #271b38, #563d7c, #7952b3);

        h1 {
            font-weight: 100;
        }
    }
}
